@using SymHack.Models
@model SymHack.Models.TeacherViewModel


@{
    ViewBag.Title = "Teachers Only";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        This page is only viewable by teachers.
    </p>
</div>

<div id="list">
    @Html.Action("List", "Teacher", Model)
</div>


<div id="register">
    @Html.Partial("RegisterStudents", Model)
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="color:green;">Player Data</h4>
            </div>
            <div class="modal-body" id="content-id">

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
            </div>
        </div>
    </div>
</div> 


@section scripts {
        <script>
            $(document).on("click", "#add-student", function (e) {

            $.get('@Url.Action("AddStudent")')
                .done(function (response) {
                    $('#register-table > tbody').append(response);
                });

            e.preventDefault();
            });

            $(document).on("click", "#cancel-student", function (e) {
                $('#register-table > tbody tr:last').remove();
                e.preventDefault();
            });

            function refreshList(data) {
                $('#list').load('@Url.Action("List")');
            }

            function showModal() {
                $('#myModal').modal('show');
            }
        </script>
    }
