@using SymHack.Models
@model SymHack.Models.PlayerStatsViewModel
@if (Model == null)
{
    <p>Error no data found.</p>
}
else
{
    <h4>@Html.DisplayFor(m => m.Name)</h4>
    <p id="viewEmail">@Html.DisplayFor(m => m.Email)</p>
    <nr/>
    <p>Progress</p>

    <ul style="list-style: none;padding-left: 0">
    @foreach (var type in Model.Stats.GroupBy(s => s.Type))
     {
        <li>
            <a href="#" class="module-type">
                <div>@type.Key</div><br />
            </a>
            <div id="@type.Key" class="">
            @foreach (var group in type)
            {
                <canvas class="viewCanvas" id="@group.Id" width="500" height="400"></canvas>
                <br/>
            }
            </div>
        </li>
     }
    </ul>
}
<script>
    $(".module-type").click(function(e) {
        $(this).next("div").toggle();
    });
</script>