@using Microsoft.AspNet.Identity
@using SymHack.Controllers
@using SymHack.Model
@model SymHack.Models.HomeViewModels

@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
        text-align: center;
    }
    form {
        display: inline-block;
    }
</style>
<div class="jumbotron">
    <h1>Sym-Hack</h1>
    <p class="lead">Choose any of the following options, or select a game below continue your progress or start new.</p>
    @Html.ActionLink("Options", "Options", "Home", new { @class = "btn btn-primary btn-lg" })

    @if (User.Identity.GetUserId() != null)
    {
        using (Html.BeginForm("Progress", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary btn-lg">Progress</button>
        }
    }
</div>

<div class="row">
    @for(var i = 0; i < Model.ModuleGroups.Count; i++)
    {
        <div class="col-md-4">
            <h2>@String.Concat("Game - ", (i + 1).ToString())</h2>
            <p>
                @foreach (var module in Model.ModuleGroups[i])
                {
                    <p>@module.Title</p>
                }
            </p>
            @if(User.Identity.GetUserId() != null )
            {
                using (Html.BeginForm("Resume", "Game", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    ;
                    for (int j = 0; j < Model.ModuleGroups[i].Count; j++)
                    {
                        @Html.HiddenFor(m => m.CurrentGame[j], new {@Value = Model.ModuleGroups[i][j].Id});
                    }
                    <button type="submit" class="btn btn-default" id="resumeGame">Resume</button>
                }
            }
            @using (Html.BeginForm("NewGame", "Game", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                for(int j = 0; j < Model.ModuleGroups[i].Count; j++)
                {
                    @Html.HiddenFor(m => m.CurrentGame[j], new { @Value = Model.ModuleGroups[i][j].Id});
                }
                <button type="submit" class="btn btn-default">New Game</button>
            }
        </div>
    }
</div>