@model SymHack.Models.OptionsViewModel
@{
    ViewBag.Title = "Options";
}
@Scripts.Render("~/bundles/mdb")  

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("Options", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group demo">
        @Html.LabelFor(m => m.Volume):
        @Html.TextBoxFor(m => m.Volume, new { id = "volumeRange", type = "range", @class = "custom-range" })
        <div id="slider-range-min"></div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Style): <br />
        <small>Select an option to sample the playlist.</small>
        <br />
        <div class="radio"><label>@Html.RadioButtonFor(m => m.Style, "kHCn5h4_dh0", new { id = "style1" })Playlist 1</label></div>
        <div class="radio"><label>@Html.RadioButtonFor(m => m.Style, "qoma-IpMdV8", new { id = "style2" })Playlist 2</label></div>
        <div class="radio"><label>@Html.RadioButtonFor(m => m.Style, "32yZHsCv8NM1", new { id = "style3" })Playlist 3</label></div>
        <div class="radio"><label class="btn btn-default" style="padding: 2px 6px 0 6px">
            @Html.RadioButtonFor(m => m.Style, "mute", new { id = "style4", @hidden="hidden" })
            <span class="glyphicon glyphicon-volume-off" style="font-size: 2em"></span>
         </label></div>
    </div>
    <div hidden id="container1"><div id="frame1"></div></div>
    <div hidden id="container2"><div id="frame2"></div></div>
    <div hidden id="container3"><div id="frame3"></div></div>
    <br/>
    <button type="submit">Submit</button>
}

@section scripts {
    <script>
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player1;
        var player2;
        var player3;
        function onYouTubeIframeAPIReady() {
            player1 = new YT.Player('frame1', {
                height: '360',
                width: '515',
                videoId: 'kHCn5h4_dh0',
                playerVars: {
                    playlist: 'kHCn5h4_dh0',
                    loop: 1,
                    controls: 0
                }
            });
            player2 = new YT.Player('frame2', {
                height: '360',
                width: '515',
                videoId: 'qoma-IpMdV8',
                playerVars: {
                    playlist: 'kHCn5h4_dh0',
                    loop: 1,
                    controls: 0
                }
            });
            player3 = new YT.Player('frame3', {
                height: '360',
                width: '515',
                videoId: '32yZHsCv8NM',
                playerVars: {
                    playlist: 'kHCn5h4_dh0',
                    loop: 1,
                    controls: 0
                }
            });
        }

        $("#style1").click(() => {
            $("#container1").show();
            $("#container2").hide();
            $("#container3").hide();
            player1.playVideo();
            player2.stopVideo();
            player3.stopVideo();
        });
        $("#style2").click(() => {
            $("#container1").hide();
            $("#container2").show();
            $("#container3").hide();
            player1.stopVideo();
            player2.playVideo();
            player3.stopVideo();
        });
        $("#style3").click(() => {
            $("#container1").hide();
            $("#container2").hide();
            $("#container3").show();
            player1.stopVideo();
            player2.stopVideo();
            player3.playVideo();
        });
        $("#style4").click(() => {
            $("#container1").hide();
            $("#container2").hide();
            $("#container3").hide();
            player1.stopVideo();
            player2.stopVideo();
            player3.stopVideo();
        });
        $("#volumeRange").change(e => {
            player1.setVolume(e.target.value);
            player2.setVolume(e.target.value);
            player3.setVolume(e.target.value);
        });
    </script>
}